
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.header
{
    background-color: rgb(65, 84, 252);
    color: white;
    height: 80px;
    margin-bottom: 10px;
}

.margen{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    text-transform: uppercase;
}

.logo a{
  text-decoration: none;
  color: white;  
}
.navbar {
    background-color: rgb(5, 5, 151);
    color: white;
}

.navbar ul {
    text-align: right;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navbar ul li a:hover{
    background-color: rgba(255, 255, 255, 0.973);
    color: black;
}

#portada{
    width: 78%;
    background: rgba(162,159,159);
    padding: 0.6cm;
    float: left;
    box-sizing: border-box;
}

.destacado, .defolt{
    background-color: white;
    padding: 0.7cm;
}

.limpiarafloay{
    clear: both;
}

.ads{
    width: 20%;
    background: rgba(255, 255, 255, 0.308);
    height: 200px;
    box-sizing: border-box;
    float: right;
    text-align: center;
}

.footer{
    background:rgb(13, 13, 233);
    color: white;
    margin-top: 15px;
    text-align: center;
}