*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.header
{
    background-color: rgb(65, 84, 252);
    color: white;
    height: 80px;
    margin-bottom: 10px;
}
.margen{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    text-transform: uppercase;
}
.logo a{
        text-decoration: none;
        color: white;  
      }
.navbar {
    background-color: rgb(5, 5, 151);
    color: white;
}

.navbar ul {
    text-align: left;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navbar ul li a:hover{
    background-color: rgba(255, 255, 255, 0.973);
    color: black;
}
#portada{
    width: 78%;
    background: rgba(162,159,159);
    padding: 0.6cm;
    box-sizing: border-box;
}
body
{
    background: rgb(219, 227, 248)
}
h1 {
    color: rgb(7, 7, 85);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.30cm;
    padding: 10px;
    text-decoration: underline;
}
h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65cm;
    text-align: center;
}
.margenes{
    padding: 5px;
}

.casa{
    border-top: 4px solid;
    border-right: 2px solid;
    border-bottom: 4px solid;
    border-left: 2px solid;

    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0,70cm;
    background-color: rgb(247, 249, 252);
    width: 78%;
    box-sizing: border-box;
}

.figure {
    border-image:space;

    image size
}

.box {
    display: flex;
    align-items: flex-start;
}

.defolt{
    background-color: white;
    padding: 0.7cm;
}
h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65cm;
    text-align: center;
}
  .formulario
  {
      margin-top: 20px;
      margin-left: 20px;
  }
  .dato
  {
      width: 30%;
  }
  .datos
  {
      width: 30%;
      height: 60px;
  }